*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
footer{
	background:rgb(52,57,79);
	color: rgb(165,170,207);
	height: 300px;
}

footer img{
	display: inline-block;
}

footer li{
	text-align: center;
	display: inline-block;
	width: 25%;
}

footer h2{
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
}